body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

h1 {
  color: white;
  font-size: 10vh;
  font-family: Arial;
  text-align: center;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5vh;
  padding: 0.5vh;
  border: 10px solid black;
  width: 75vh;
  height: 75vh;
}

.buttonsF {
  width: 15vh;
  height: 15vh;
  border-radius: 1vh;
  border: none;
  font-family: Arial;
  font-size: 2em;
  text-align: center;
  background-color: hsl(90, 80%, 60%);
}

.buttonsF:hover {
  background-color: hsl(90, 80%, 70%);
}

.buttonsP {
  width: 15vh;
  height: 15vh;
  border-radius: 1vh;
  border: none;
  font-family: Arial;
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: hsl(37, 85%, 45%);
}

.buttonsP:hover {
  background-color: hsl(37, 85%, 30%);
}

.buttonsE {
  width: 15vh;
  height: 15vh;
  border-radius: 1vh;
  border: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  background-color: hsl(90, 80%, 60%);
}

.buttonsE:hover {
  background-color: hsl(90, 80%, 70%);
}

.buttonsE:active {
  background-color: hsl(90, 80%, 40%);
}
